{% extends "layout.html" %}

{% block body %}
<h3>Haqqimizda</h3>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Fusce ut placerat orci nulla pellentesque dignissim enim. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Dui nunc mattis enim ut tellus elementum sagittis vitae et. Justo donec enim diam vulputate ut pharetra sit amet. Non odio euismod lacinia at quis risus sed vulputate odio. Molestie at elementum eu facilisis sed odio. Viverra suspendisse potenti nullam ac. Amet venenatis urna cursus eget nunc scelerisque. Iaculis eu non diam phasellus vestibulum lorem sed. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Eget nullam non nisi est sit.

Id volutpat lacus laoreet non curabitur gravida arcu. A diam maecenas sed enim ut sem viverra. Id diam maecenas ultricies mi eget mauris. Malesuada fames ac turpis egestas sed. Quis lectus nulla at volutpat diam. Morbi non arcu risus quis varius quam quisque id. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Neque ornare aenean euismod elementum nisi quis eleifend. Sit amet tellus cras adipiscing enim eu turpis egestas pretium. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Adipiscing diam donec adipiscing tristique risus nec feugiat. Neque egestas congue quisque egestas diam in arcu. Tellus elementum sagittis vitae et leo duis ut diam. Ornare suspendisse sed nisi lacus sed viverra tellus in. Quis enim lobortis scelerisque fermentum dui faucibus in ornare. Risus viverra adipiscing at in.</p>
  </div>
</div>

{% endblock body %}

