{% extends "layout.html" %}
{% load static %}
{% block css_place %}
<link rel="stylesheet" href="{% static 'css/style_tables.css' %}">
{% endblock  %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-8">
    <h1 class="my-4">Məqalələr</h1>
    </div>
    <div class="col-sm" style="margin-top:30px;">
    <form class="form-inline md-form ml-auto mb-4">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="text" name = "keyword" placeholder="Axtar" aria-label="Search">
        <button class="btn btn-primary btn-rounded btn-sm my-0" type="submit">Axtar</button>
    </form>
    </div>
</div>   
</div>

<hr>
{% if articles %}
{% for article in articles %}

<div class="card mb-4">
    {% if article.article_image %}
        <a href="{% url 'article:detail' article.id %}">
        <img class="card-img-top" src="{{article.article_image.url}}" alt="Card image cap">
        </a>
    {% else %}
        <a href="{% url 'article:detail' article.id %}">
        <img class="card-img-top" src="../media/beachr.jpg" alt="Card image cap">
        </a>
    {% endif %}   
    <div class="card-body">
        <h2 class="card-title">{{article.title}}</h2>
    <p class="card-text">{{article.content|safe|truncatewords:20}}</p>
    <a href="{% url 'article:detail' article.id %}" class="btn btn-primary">Daha çox oxu →</a>
    </div>
    <div class="card-footer text-muted">
    Paylaşıldı {{article.created_date}}
    <form>
    {% csrf_token %}
    {{ form }}
    <input type="hidden" name="choosenuser" value="{{article.author}}">
    <input type="submit" class="submit_btn btn label-success" value="{{article.author}}" />
    </form>
    </div>
</div>
    <hr>
{% endfor %}


{% else %}
<div class = "alert alert-danger">
Gosterilecek meqale yoxdur seni shansli ogul.
</div>
{% endif %}
{% endblock  %}
